.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width:1000px;
margin-bottom: 10px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;

    min-height: 100vh ;
  }





/* .buket{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
} */